@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #C0C4CC;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #909399;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@mixin dark-scrollbar {
  &::-webkit-scrollbar-thumb {
    background: #374151;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #4B5563;
  }
}
